@layer tokens {
  /* Color Tokens */

  :root {
    --color-white: oklch(100% 0 0);
    --color-black: oklch(5.5% 0 0);

    --color-neutral-50: oklch(98.5% 0 0);
    --color-neutral-100: oklch(97% 0 0);
    --color-neutral-200: oklch(92.2% 0 0);
    --color-neutral-300: oklch(87% 0 0);
    --color-neutral-400: oklch(70.8% 0 0);
    --color-neutral-500: oklch(55.6% 0 0);
    --color-neutral-600: oklch(43.9% 0 0);
    --color-neutral-700: oklch(37.1% 0 0);
    --color-neutral-800: oklch(26.9% 0 0);
    --color-neutral-900: oklch(20.5% 0 0);
    --color-neutral-950: oklch(14.5% 0 0);


    --color-ultramarine: oklch(0.4735 0.3157 263.65);
    --color-aqua: oklch(0.8912 0.2072 192.32);
    --color-ink:  #1A1917;
    --color-paper: #FAF9F6;


    --plyr-color-main: var(--color-accent);
  }

  /*
 * Color Scheme: Light (default)
 */
  :root,
  [data-color-scheme='light'] {
    --color-bg: var(--color-paper);
    --color-bg-alt: var(--color-neutral-100);

    --color-border: var(--color-neutral-200);
    --color-border-strong: var(--color-neutral-600);

    --color-foreground: var(--color-ink);
    --color-foreground-secondary: #4E4B44;

    --color-accent: var(--color-ultramarine);
    --color-accent-hover: var(--color-aqua);
    --color-on-accent: var(--color-white);
    --color-on-accent-hover: var(--color-white);

    --button-primary-bg: var(--color-white);
    --button-primary-label: var(--color-on-accent);
    --button-primary-border: var(--color-accent);
    --button-primary-hover-bg: var(--color-accent-hover);
    --button-primary-hover-label: var(--color-on-accent-hover);
    --button-primary-hover-border: var(--color-accent-hover);

    --button-secondary-bg: var(--color-neutral-50);
    --button-secondary-label: var(--color-neutral-950);
    --button-secondary-border: var(--color-neutral-200);
    --button-secondary-hover-bg: var(--color-neutral-100);
    --button-secondary-hover-label: var(--color-neutral-950);
    --button-secondary-hover-border: var(--color-neutral-200);

    --button-ghost-bg: transparent;
    --button-ghost-label: currentColor;
    --button-ghost-border: transparent;
    --button-ghost-hover-bg: oklch(0% 0 0 / 0.05);
    --button-ghost-hover-label: currentColor;
    --button-ghost-hover-border: transparent;

    --button-text-bg: transparent;
    --button-text-label: currentColor;
    --button-text-border: transparent;
    --button-text-hover-bg: transparent;
    --button-text-hover-label: currentColor;
    --button-text-hover-border: transparent;

    --color-positive: oklch(62.7% 0.194 149.214);
    --color-negative: oklch(57.7% 0.245 27.325);

    /* Form / Input tokens */
    --input-bg: var(--color-paper);
    --input-border: var(--color-neutral-300);
    --input-border-focus: var(--color-neutral-600);
    --input-border-error: var(--color-negative);
    --input-text: var(--color-neutral-950);
    --input-placeholder: var(--color-neutral-400);
    --input-label: var(--color-neutral-600);
    --input-error-text: var(--color-negative);
    --checkbox-accent: var(--color-negative);
  }

  /* 
 * Color Scheme: Dark
 */
  [data-color-scheme='dark'] {
    --color-bg: var(--color-black);
    --color-bg: #101010;
    --color-bg-alt: var(--color-neutral-800);

    --color-border: var(--color-neutral-600);
    --color-border-strong: var(--color-neutral-400);

    --color-foreground: var(--color-white);
    --color-foreground-secondary: var(--color-neutral-200);

    --color-accent: var(--color-aqua);
    --color-accent-hover: var(--color-aqua);
    --color-on-accent: var(--color-ink);
    --color-on-accent-hover: var(--color-ink);

    --button-primary-bg: radial-gradient(circle, #5c11c5, #41186b, #160e1f);
    --button-primary-label: var(--color-white);
    --button-primary-border: transparent;
    --button-primary-hover-bg: radial-gradient(circle, #5c11c5, #41186b, #160e1f);
    --button-primary-hover-label: var(--color-white);
    --button-primary-hover-border: transparent;

    --button-secondary-bg: var(--color-neutral-900);
    --button-secondary-label: var(--color-neutral-50);
    --button-secondary-border: transparent;
    --button-secondary-hover-bg: var(--color-neutral-900);
    --button-secondary-hover-label: var(--color-white);
    --button-secondary-hover-border: transparent;

    --button-ghost-bg: transparent;
    --button-ghost-label: currentColor;
    --button-ghost-border: transparent;
    --button-ghost-hover-bg: oklch(100% 0 0 / 0.05);
    --button-ghost-hover-label: currentColor;
    --button-ghost-hover-border: transparent;

    --button-text-bg: transparent;
    --button-text-label: currentColor;
    --button-text-border: transparent;
    --button-text-hover-bg: transparent;
    --button-text-hover-label: currentColor;
    --button-text-hover-border: transparent;

    --card-border: linear-gradient(0deg, #181818, #666666);

    /* Having to hard code the values as the linear gradient used as a border breaks using opacity */
    --card-bg: linear-gradient(0deg, #222222, #161616);

    --color-positive: oklch(79.2% 0.209 151.711);
    --color-negative: oklch(70.4% 0.191 22.216);

    /* Form / Input tokens */
    --input-bg: var(--color-neutral-900);
    --input-border: var(--color-border);
    --input-border-focus: var(--color-neutral-500);
    --input-border-error: var(--color-negative);
    --input-text: var(--color-paper);
    --input-placeholder: var(--color-neutral-600);
    --input-label: var(--color-neutral-400);
    --input-error-text: var(--color-negative);
    --checkbox-accent: var(--color-accent);
  }
}

/* 
 * Color Scheme
 */

@layer base {
  [data-color-scheme] {
    background-color: var(--color-bg);
    color: var(--color-foreground);
    border-color: var(--color-border);

    &[data-bg-alt] {
      background-color: var(--color-bg-alt);
    }
  }
}
