---
import "plyr/dist/plyr.css";
import "../styles/global.css";

// import "../styles/layout.css";
// import "../styles/vars.css";
import type { ImageMetadata } from "astro";
import CookieConsent from "@components/layout/CookieConsent.astro";
import SEO from "@components/layout/SEO.astro";
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";

interface Props {
  title?: string;
  description?: string;
  ogImage?: ImageMetadata | string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" data-color-scheme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO title={title} description={description} ogImage={ogImage} />
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer></script>

    <!-- fonts -->
    <link rel="preconnect" href="https://use.typekit.net" />
    <link rel="stylesheet" href="https://use.typekit.net/bdl1vvk.css" />
  </head>
  <body class="">
    <Header />
    <slot />
    <Footer />
    <!-- <CookieConsent /> -->
    <script>
      if (document.querySelector("[data-plyr-provider]")) {
        const { default: Plyr } = await import("plyr");
        new Plyr("[data-plyr-provider]", {
          youtube: { noCookie: true },
        });
      }
    </script>
  </body>
</html>
